body {
    background-color: black;
    padding: 14px;
}

div .navbar {
    background-color: #0c0c0c;
    border: none;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
}

div .navbar ul {
    list-style: none;
}

div .navbar ul li {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    color: whitesmoke;
}